.screen{
    background-color: #FDF9E0;
    text-align: center;
    height: 100vh;
    max-height: 100vh;
    display: grid;
    place-items: center;
    overflow: scroll;
}

.logo{
    width: 50vw;
    max-width: 300px;
}

.body{
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    color: white;
    background-color: #81765b;
    border-radius: 20px;
    height: 55vh;
    overflow: scroll;
    font-family: "MaruBuri-Regular";
    box-shadow: 1px 3px 1px #c6c5c5;
}

.headerBox{
    font-family: "MaruBuri-Bold";
}