.screen{
    background-color: #FDF9E0;
    text-align: center;
    height: 100vh;
    max-height: 100vh;
    display: grid;
    place-items: center;
    overflow: scroll;
}

.logo{
    width: 50vw;
    max-width: 300px;
}

.body{
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    border: 3px dotted #FFE74F;
    height: 55vh;
    overflow: scroll;
    font-family: "MaruBuri-Regular";
}

.headerBox{
    font-family: "MaruBuri-Bold";
}