.mainscreen{
    background-color: #FDF9E0;
    text-align: center;
    height: 100vh;
    max-height: 100vh;
    overflow: scroll;
    font-family: "MaruBuri-Regular";
    display: grid;
    place-content: center;
}
.header{
    position: absolute;
    width: 300px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    justify-content: center;
}
.logo{
    width: 40vw;
    max-width: 300px;
}
.team{
    margin-top: 150px;
    width: 85vw;
    max-width: 500px;
}
.boxDiv{
    display : flex;
    justify-content: center;
    align-items : center;
    margin-top: 100px;
}
.contentScreen{
    background-color: #FDF9E0;
    font-family: "MaruBuri-Regular";
    display: grid;
    place-content: center;
    width: 100vw;
}
.titleFont {
    font-size: 25px;
    font-weight: bold;
}
.goAudio{
    width: 100vw;
    display: flex;
    overflow: auto;
}
.goAudio::-webkit-scrollbar{
    display: none; 
}
.card {
    background-color: #81765b;
    border-radius: 20px;
    height: 180px;
    text-align: center;
}
.tag{
    border: none;
    border-radius: 10px;
    padding: 8px;
    background-color: #dedbd5;
    font-family: "MaruBuri-Regular";
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
}
.endDiv{
    height: 150px;
    background : #433b28;
    text-align: center;
    display: grid;
    place-content: center;
}